<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1505686994434-e3cc5abf1330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80);">
  <div class="container">
    <h1>Enjoy movies <strong>at home</strong> with <strong>awesome people</strong>!</h1>
    <p>Join movie events happening in your neighbor or even host one!</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @events.each do |event|%>
      <%= link_to event_path(event), class: 'text-decoration-none text-body' do %>
        <div class="card-movie">
          <img src="<%= event.movie.photo %>" />
          <%# cl_image_tag event.movie.photo %>
          <div class="card-movie-infos">
            <div>
              <h2><%= event.movie.name %></h2>
              <p>Time: <%= event.booking_time %></p>
              <p>Address: <%= event.address %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>