<div class="container">
  <div class="row">
    <div class="col-6">
      <h1 class="text-center mb-5"><%=@event.name.capitalize%></h1>
      <div class="d-flex border shadow rounded">
        <%= image_tag @event.movie.photo, alt: "poster", width: 200, class:
        'rounded' %>
        <div class="ml-3">
          <h3 class="mt-2">Description</h3>
          <p><%=@event.description.capitalize %></p>
          <p>Movie : <%= @event.movie.name %></p>
          <p>Genre : <%= @event.movie.genre %></p>
          <p>Price : ¥ <%= @event.price %></p>
        </div>
      </div>
      <h5 class="mt-3">Hosted by :</h5>
      <div class="d-flex align-items-center my-3">
        <h5 class="ml-2"><%=@event.user.name.capitalize%></h5>
      </div>
    </div>
    <div class="col-6">
      <img
        src="https://map.viamichelin.com/map/carte?map=viamichelin&z=10&lat=35.68696&lon=139.74946&width=550&height=382&format=png&version=latest&layer=background&debug_pattern=.*"
        alt="map"
        class="mb-3"
        width="500"
        height="300"
        style="margin-top: 100px;"
      />
      <h3><i class="fas fa-map-marker-alt"></i> Address</h3>
      <%= @event.address %>
      <h3 class="mt-3"><i class="far fa-calendar-alt mr-2"></i>Date</h3>
      <%= @event.booking_time.strftime("%A, %b %-d %Y") %>
      <h3 class="mt-3">
        <i class="fas fa-users mr-2"></i>Number of participants :
        <%=@event.bookings.count %>
      </h3>
      <div class="text-center">
        <%= link_to 'join', event_bookings_path(@event), method: :post, class:
        'btn btn-primary px-5' %>
      </div>
    </div>
  </div>
</div>
