<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h1 class="text-center mb-5"><%=@event.name.capitalize%></h1>
      <div class="d-flex border shadow rounded">
        <%= image_tag @event.movie.photo, alt: "poster", width: 200, class:
        'rounded' %>
        <div class="ml-3">
          <h3 class="mt-2">Description</h3>
          <p><%=@event.description.capitalize %></p>
          <p>Movie : <%= @event.movie.name %></p>
          <p>Genre : <%= @event.movie.genre %></p>
          <p>Price : ¥ <%= @event.price %></p>
        </div>
      </div>
      <h5 class="mt-3">Hosted by :</h5>
      <div class="d-flex align-items-center my-3">
        <%= cl_image_tag @event.user.photo, height:50, width:50, crop: :fill, gravity: :face, radius: :max, border: "2px_solid_black"%>
        <h5 class="ml-2"><%=@event.user.name.capitalize%></h5>
      </div>
    </div>
    <div class="col-6">
      <!-- <img
        src="https://map.viamichelin.com/map/carte?map=viamichelin&z=10&lat=35.68696&lon=139.74946&width=550&height=382&format=png&version=latest&layer=background&debug_pattern=.*"
        alt="map"
        class="mb-3"
        width="500"
        height="300"
        style="margin-top: 100px;"
      /> -->
      <div
        id="map"
        style="width: 100%; height: 420px;"
        data-markers="<%= @marker.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>







      <h3><i class="fas fa-map-marker-alt"></i> Address</h3>
      <%= @event.address %>
      <h3 class="mt-3"><i class="far fa-calendar-alt mr-2"></i>Date</h3>
      <%= @event.booking_time.strftime("%A, %b %-d %Y, %H:%M") %>
      <h3 class="mt-3">
        <i class="fas fa-users mr-2"></i>Number of participants :
        <%=@event.bookings.count %>
      </h3>
      <div class="text-center">
      <% if user_signed_in? == false  %>
        <%= link_to 'Join', new_user_registration_path, class:
        'btn btn-primary px-5' %>
      <% elsif current_user == @event.user || @event.bookings.where(user: current_user).exists?  %>
       <button type="button" class="btn btn-secondary px-5" disabled>Join</button>
      <% else %>
       <%= link_to 'Join', event_bookings_path(@event), method: :post, class:
        'btn btn-primary px-5' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
